.DS_Store
/backend/.env
/backend/.env.local
/backend/.env.development
/backend/.env.production
/backend/.venv
/backend/core/__pycache__
/backend/core/migrations/__pycache__
*__pycache__*


/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production
/frontend/node_modules
/frontend/build
/frontend/dist

# Ignore log files and databases
/logs
*.log
*.db

# Ignore node_modules and build artifacts
/node_modules
/dist
/build

# Ignore IDE and OS files
/.idea
/.vscode
.DS_Store
Thumbs.db

/.agents